@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*Paleta de Cores*/
  --laranja: #C44900;
  --vinho: #432534;

  --branco-puro: white;
  --bege: #EFD6AC;
  --preto: #2A2A2A;

  --warning: #FFDD57;
  --error: #FF5C5C;
  --success: #4CAF50;
  --info: #2196F3;
}

body {
  background-color: transparent;
  color: var(--foreground);
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

button {
  color: var(--preto);
  background-color: var(--bege);
  border-radius: 16px;
  font-size: 32px;
  font-weight: normal;
}